<?xml version="1.0" encoding="UTF-8"?>
<!--log4j2 简单配置-->
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %l %msg%n"/>
        </Console>
        <!--dao层log-->
        <File name="daolog" fileName="${web:rootDir}/WEB-INF/logs/daolog.log">
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss} %l %msg%n"/>
        </File>
        <!--错误log-->
        <File name="errlog" fileName="${web:rootDir}/WEB-INF/logs/errlog.log">
            <PatternLayout charset="UTF-8" pattern="%d{yyyy-MM-dd HH:mm:ss} %l %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="console"/>
            <AppenderRef ref="errlog"/>
        </Root>
        <!--mybatis打印sql到控制台和文件-->
        <Logger name="cn.jxust.partTimeJob.dao" level="TRACE" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="daolog"/>
        </Logger>
    </Loggers>
</Configuration>